<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Aivle Chabot</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="https://aivle.kt.co.kr/img/icon/favicon-16x16.png"> 
    <link rel="stylesheet" href="{% static 'chat/test.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#chat-form').on('submit', function(event) {
                event.preventDefault();
                sendMessage();
            });

            $('#question').on('input', function() {
                adjustHeight(this);
            });

            function adjustHeight(element) {
                element.style.height = 'auto';
                if (element.scrollHeight > element.clientHeight) {
                    element.style.height = (element.scrollHeight <= window.innerHeight * 0.07 ? element.scrollHeight : window.innerHeight * 0.07) + 'px';
                    element.style.overflowY = element.scrollHeight > window.innerHeight * 0.07 ? 'scroll' : 'hidden';
                }
            }

            function sendMessage() {
                var question = $('#question').val();
                if (question.trim() === '') {
                    return;
                }
                $('#question').val('');
                $('#send-button').prop('disabled', true);
                var userMessage = '<div class="message sent">' + question + '</div>';
                var loadingMessage = '<div class="message loading"><img src="{% static "chat/fading_wheel.gif" %}" alt="Loading..."></div>';
                $('#chat-body').append(userMessage);
                $('#chat-body').append(loadingMessage);
                $('#chat-body').scrollTop($('#chat-body')[0].scrollHeight);

                $.ajax({
                    type: 'POST',
                    url: '{% url "chat:chat" %}',
                    data: {
                        'question': question,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        $('.loading').remove();
                        var botMessage = '<div class="message received">' + response.answer + '</div>';
                        $('#chat-body').append(botMessage);
                        $('#chat-body').scrollTop($('#chat-body')[0].scrollHeight);
                        $('#send-button').prop('disabled', false);
                    },
                    error: function(response) {
                        $('.loading').remove();
                        console.log('Error:', response);
                        $('#send-button').prop('disabled', false);
                    }
                });
            }
        });
    </script>    
</head>
<body>
    <div class="leftpart">
        <img src="https://aivle.kt.co.kr/tpl/011/img/common/logo.png" alt="Aivle 로고">
    </div>
    <div class="rightpart">
        <button onclick="closeWindow()">창 닫기</button>
    </div>
    <div class="middlepart">
        <div class="left-section"></div>
        <div class="center-section">
            <div class="chat-header">
            </div>
            <div class="chat-body" id="chat-body">
                {% for msg in request.session.chat_memory %}
                    {% if forloop.counter0|divisibleby:2 %}
                        <div class="message sent">{{ msg }}</div>
                    {% else %}
                        <div class="message received">{{ msg }}</div>
                    {% endif %}
                {% endfor %}
            </div>
            <form id="chat-form" class="chat-footer" action="" method="post" enctype="application/x-www-form-urlencoded">
                <textarea id="question" name="question" placeholder="Aivle School에게 물어보세요 !"></textarea>
                <button id="send-button" type="submit">Send</button>
            </form>
        </div>
        <div class="right-section"></div>
    </div>

    <script>
        function closeWindow() {
            window.close();
        }
    </script>
</body>
</html>
