body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f1f1f1;
}

.chat-container {
    width: 25%;
    height: 75%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-header {
    background-color: #007bff;
    color: white;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    font-size: 15px;
}

.chat-body {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.message {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
}

.message.sent {
    background-color: #007bff;
    color: white;
    align-self: flex-end;
    text-align: right;
}

.message.received {
    background-color: #e9ecef;
    color: black;
    align-self: flex-start;
    text-align: left;
}

.chat-footer {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.chat-footer input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-right: 10px;
}

.chat-footer button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.chat-footer button:hover {
    background-color: #0056b3;
}

.chat-footer button:disabled {
    background-color: #c0c0c0;
    cursor: not-allowed;
}

.loading img {
    width: 30px;
    height: 30px;
}
