
/* 에이블 색상코드 #38B8B2 */
@charset "utf-8";

body {
    font-family: Arial, sans-serif;
    margin: 10px; /* 원하는 간격으로 설정 */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px; /* 내부 패딩 조정 */
	background-color: #F5F5F5;
}

header {
    margin-bottom: 10px; /* 헤더와 콘텐츠 사이에 간격 설정 */
	text-align: center; /* 텍스트를 가운데 정렬 */
}
h1 {
	color: #38B8B2;
	font-size: 4vw; /* 글자 크기를 viewport width 단위로 설정 */
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 1vw; /* 가로 여백을 viewport 단위로 설정 */
    margin-bottom: 20px;
	flex-wrap: wrap; /* 화면 크기에 따라 버튼들이 줄을 바꿀 수 있도록 함 */
}

.button-container button:nth-child(1) {
    background-color: #38B8B2;
}

.button-container button:nth-child(2) {
    background-color: #50C7C1;
}

.button-container button:nth-child(3) {
    background-color: #69D6CF;
}

.button-container button:nth-child(4) {
    background-color: #81E5DE;
}

.button-container button:nth-child(5) {
    background-color: #69D6CF;
}

.button-container button:nth-child(6) {
    background-color: #50C7C1;
}

.button-container button:nth-child(7) {
    background-color: #38B8B2;
}

.Button {
    width: 10vw; /* 버튼 크기를 viewport width 단위로 설정 */
    height: 10vw; /* 버튼 크기를 viewport height 단위로 설정 */
    min-width: 50px; /* 최소 크기 설정 */
    min-height: 50px; /* 최소 크기 설정 */
    max-width: 100px; /* 최대 크기 설정 */
    max-height: 100px; /* 최대 크기 설정 */
    border-radius: 50%;
	font-size: 16px;
    color: white;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.Button:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

#contentBox {
    width: 50%; 
    max-height: 300px;
    overflow-y: auto;
    border: 4px solid #38B8B2;
	margin-top: 20px;
	border-radius: 10px; 
    background-color: white; 
    padding: 10px;
    transition: max-height 0.3s ease, padding 0.3s ease;
    position: fixed;
    top: calc(50% + 80px); 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* 다른 요소 위에 표시 */
}

.category-container {
    max-height: 100px;
    overflow-y: auto;
    border: 2px solid #38B8B2;
    margin-top: 20px;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    transition: max-height 0.3s ease, padding 0.3s ease;
}


.hidden {
    max-height: 0;
    padding: 0;
    border: none;
}
@media screen and (max-width: 600px) {
    #contentBox {
        width: calc(100% - 20px); /* 작은 화면일 때 버튼 컨테이너의 가로 길이와 동일하게 설정 */
    }
}

.content {
    background-color: #f9f9f9; /* 배경색 지정 */
    border: 1px solid #ddd; /* 테두리 스타일 지정 */
    padding: 20px; /* 안쪽 여백 지정 */
    margin-bottom: 10px; /* 아래쪽 여백 지정 */
    border-radius: 5px; /* 테두리 둥글기 지정 */
    max-height: 200px; /* 최대 높이 설정 */
    overflow-y: auto; /* 세로 스크롤 추가 */
}


#contentBox:not(.hidden) .content {
    display: none;
}

#contentBox:not(.hidden) .content.show {
    display: block;
}

/* 추가된 CSS */
.chatbot-button {
    font-size: 1.5em;
    padding: 0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #f5f5f5;
}

.brand {
    display: flex;
    justify-content: center;
}

.brand ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.brand li {
    margin: 0 10px; /* 요소 사이의 간격 조정 */
}

.brand li p {
    margin: 0;
	font-size: 8px;
}