{% extends 'base.html' %}

{% block title %}Aivle Q&A{% endblock %}

{% block content %}
        <div class="button-container">
            <button class="Button" data-content='all'>전체</button>
            <button class="Button" data-content="모집/선발">모집/선발</button>
            <button class="Button" data-content="교육/수강">교육/수강</button>
            <button class="Button" data-content="국민내일배움카드">국민내일<br>배움카드</button>
            <button class="Button" data-content="채용연계">채용연계</button>
            <button class="Button" data-content="교육생 지원사항">교육생<br>지원사항</button>
            <button class="Button" data-content="기타">기타</button>
        </div>
        <div id="contentBox">
            {% for qadata in qa %}
                <div class="content" data-category="{{ qadata.category }}">
                    <h2>{{ qadata.category }}</h2>
                    <p>질문: {{ qadata.question }}</p>
                    <p>답변: {{ qadata.answer }}</p>
                </div>
            {% endfor %}
        </div>
        {% endblock %}
   