{% extends 'base.html' %}

{% block title %}AIVLE School - 에이블스쿨{% endblock %}

{% block content %}
<div class="maincontent">
    <section id="aivleSchoolSection"> <!-- 에이블스쿨 섹션 -->
        <h2>에이블스쿨이란?</h2>
        <dl class="what_is_aivleschool">
            <dt>Q. AIVLE School 이 뭔가요?</dt>
            <dd>
                AIVLE School(에이블스쿨)은 KT의 ‘AI 인재 양성 경험과 노하우’를 내부에서 외부로 확장하여,
                고용노동부 K-Digital Training과 함께 대한민국 청년들을 ‘기업 실무형 AI/DX인재’로 양성하고,
                일자리 창출에 기여하는 교육 프로그램 입니다.
                <p class="reference">※ AIVLE School에 참여하는 모든 사람 = ‘AIVLER’ (에이블러)</p>
            </dd>
        </dl>
    </section>
</div>
{% endblock %}
